:root {
  --primary-text-colore: #212121;
  --secondary-text-color: #757575;
  --accent-colore: #2196F3;
  --background-color-st: #ffffff;
  --bg-team-color: #F5F4FA;
  --adress-fotter: rgba(255, 255, 255, 0.60);
  --foter-bg: #2F303A;
  --social-button: rgba(255, 255, 255, 0.10);
  --social-icon-team: #AFB1B8;
}

body {
  background-color: var(--background-color-st);
  color: var(--primary-text-colore);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Header */
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.conteiner.header {
  display: flex;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.address-list {
  display: flex;
  align-items: center;
}


.address-list {
  padding: 0;
  margin: 0;
}

/* logo  */
.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-text-colore);
}

.first-item {
  color: var(--accent-colore);
}

/* nav menu */
.nav-menu,
.nav-menu-list {
  display: flex;
  align-items: center;
}

.nav-menu-list .link-nav {
  color: var(--primary-text-colore);
}

.link-nav:hover,
.link-nav:focus {
  color: var(--accent-colore);
}

.nav-menu-list {
  margin-left: 93px;
}

.nav-menu-list>.item>.link-nav,
.contacts.link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-menu-list>.item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  color: var(--secondary-text-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-colore);
  fill: var(--accent-colore);
}

.link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.icon-head {
  margin-right: 10px;
}


.address-list {
  margin-left: auto;
}

.address-list>.list:not(:last-child) {
  margin-right: 30px;
}

/* footer */
.adress-block {
  margin-right: 70px;
}

.footer {
  background-color: var(--foter-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: var(--background-color-st);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;

  margin-top: 20px;
}

.conteiner {
  display: flex;
}

.contacts.footer-contacts.link {
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 0;

  color: var(--adress-fotter);
}

.footer.logo {
  color: var(--background-color-st);
}

.social-block>.list {
  display: flex;
  padding: 0;
}


.footer-icon {
  display: inline-flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  padding: 12px;
  background-color: var(--social-button);
  border-radius: 50%;
  color: var(--background-color-st);
}

.footer-icon:hover, .footer-icon:focus {
  background-color: var(--accent-colore);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}


.title-subscribe {
  margin-bottom: 20px;
  margin-top: 10px;
  color: var(--background-color-st);
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}